<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Build AOSP after pulling changes from local_manifest.&#xd;
&#xd;
Note: The following flags have to agree: local_manifest, dev_projects, and dev_refspec. See notes in each flag for reference.</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>init_tag</name>
          <description>The tag of the android manifest used in repo init, i.e.
repo init -u https://android.googlesource.com/platform/manifest -b init_tag</description>
          <defaultValue>android-4.2.2_r1</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>dev_refspec</name>
          <description>This is the development branch that will be checked out for *only* the dev_projects, i.e.
repo forall $dev_projects -c &apos;git checkout $(git rev-parse $dev_refspec)&apos;</description>
          <defaultValue>github/jb-sensor-firewall</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.TextParameterDefinition>
          <name>local_manifest</name>
          <description>The full contents local_manifest.xml. Normally you&apos;ll want to add the projects mentioned in this manifest to the $dev_projects flag.

Right after an initial repo sync with android.googlesource.com, the local_manifest is copied to .repo/local_manifest.xml, and we do another repo sync.

After that, we check out the specified development branch for each dev project. See documentation for dev_refspec and dev_projects</description>
          <defaultValue>&lt;manifest&gt;
  &lt;remote name=&quot;github&quot; fetch=&quot;https://github.com&quot; /&gt;
  &lt;remove-project name=&quot;platform/build&quot; /&gt;
  &lt;project path=&quot;build&quot; remote=&quot;github&quot; name=&quot;nesl/platform_build&quot; revision=&quot;refs/tags/android-4.2.2_r1&quot;&gt;
    &lt;copyfile src=&quot;core/root.mk&quot; dest=&quot;Makefile&quot; /&gt;
  &lt;/project&gt;
  &lt;remove-project name=&quot;platform/frameworks/native&quot; /&gt;
  &lt;project path=&quot;frameworks/native&quot; remote=&quot;github&quot; name=&quot;nesl/platform_frameworks_native&quot; revision=&quot;refs/tags/android-4.2.2_r1&quot; /&gt;
  &lt;remove-project name=&quot;platform/frameworks/base&quot; /&gt;
  &lt;project path=&quot;frameworks/base&quot; remote=&quot;github&quot; name=&quot;nesl/platform_frameworks_base&quot; revision=&quot;refs/tags/android-4.2.2_r1&quot; /&gt;
&lt;/manifest&gt;
	  </defaultValue>
        </hudson.model.TextParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>dev_projects</name>
          <description>*Space separated* list of projects for which we will sync changes from the $dev_refspec, i.e.
repo forall $dev_projects -c &apos;git checkout $(git rev-parse $dev_refspec)&apos;</description>
          <defaultValue>build frameworks/base frameworks/native</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>lunch</name>
          <description>The lunch command passed onto the AOSP build system.</description>
          <defaultValue>full_x86-eng</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>FLAG_NO_SYNC</name>
          <description></description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>FLAG_NO_CLOBBER</name>
          <description></description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>FLAG_UPDATE_API</name>
          <description></description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>/aosp/bin/jenkins_make_android.sh</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.4">
      <recipients>kastur+jenkins_android@gmail.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>false</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>